@media (max-width: 768px) or (max-height: 905px) {
  .opacity {
    opacity: 0.1;
  }
}
@media (max-width: 768px) or (max-height: 905px) {
  .opacity {
    opacity: 0.1;
  }
}
@media (max-width: 575px) {
  body {
    background: linear-gradient(var(--cor-Dark-Blue) 70%, var(--cor-Deep-Purple) 30%);
  }
}
@media (max-width: 575px) {
  body {
    background: linear-gradient(var(--cor-Dark-Blue) 70%, var(--cor-Deep-Purple) 30%);
  }
}
section{
  height: auto;
}
@media (min-width: 575px) {
  html {
    height: 100dvh;
  }
}
@media (min-width: 575px) {
  body {
    height: 100dvh;
  }
}
@media (min-width: 575px) {
  .sections-Heigth {
    height: 100dvh;
  }
}
@media (max-height: 850px) {
  .sections-Heigth {
    height: auto;
  }
} 